<!-- views/partials/foot.ejs -->
<footer>
    This site was created by the RepairFinder Team, 4/X, 2025.
  </footer>
  
  <!-- JS at the bottom so it can bind to #bar-button and #user-button -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
  <script src="https://cs.wellesley.edu/~anderson/js/bounds/bounds-plugin.js"></script>
  <script src="/main.js"></script>
  <script src="https://kit.fontawesome.com/1d15fd4b72.js" crossorigin="anonymous"></script>
  </body>
  </html>
  