
<header>
    <div class="nav">
        <button id="bar-button" class="menu">Menu</button>
    </div>

    <h1 id="page_title" class="nav_item">RepairFinder</h1>

    <div id="user-menu" class="dropdown">
        <button id="user-button" class="menu">
            <i id="user-icon" class="fa-solid fa-user"></i>
            <span class="visually-hidden">Account</span>
        </button>
        <div class="drop-content">
          <a href="#">Log Out</a>
          <a href="#">Account Info</a>
        </div>
    </div> 
</header>